@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto',
  sans-serif
}

.container {
  width: 540px;
max-width: 90%;
margin: 0 auto;
min-height: 100vh;
display: grid;
place-items: center;
}
